@using Caloracker1.Data
@model IEnumerable<Caloracker1.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}
@{
    <script>
        function redirectToIndexPage() {
            window.location.href = '@Url.Action("Index", "Premium")';
        }
    </script>
}
@if (User.IsInRole(UserRoles.Role_Admin))
{
    <div class="mt-3">
        <a asp-action="Create" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg> Create New
        </a>
    </div>
}
<div class="container text-center mt-4">
    <div class="row ">
        <div class="col">
            @foreach (var item in Model)
            {

                <div style="display:flex; flex-direction:row; gap:1rem; justify-content:center; align-items:center; text-align:start; cursor: pointer;"
                     onclick="location.href='@Url.Action("Details", new { id = item.Id })';">

                    <div class="card mb-3" style="max-width: 640px; border: 3px solid #b2b7bb; border-radius:5px">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src=" @Html.DisplayFor(modelItem => item.imageUrl)" class="img-fluid rounded-start" alt="recipe">
                            </div>
                            <div class="col-md-8 mt-3">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name) - <span style="color:red; font-size:14px; font-weight:500;">@Html.DisplayFor(modelItem => item.Type) </span></h5>
                                    <p style="overflow: hidden; text-align: justify; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </p>
                                    <p class="card-text">
                                        <small class="text-body-secondary" style="font-weight:600; color:#B2B7BB">For @Html.DisplayFor(modelItem => item.Person) Person -  @Html.DisplayFor(modelItem => item.Calorie) kcal </small>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; justify-content: center; gap: 1rem; align-items: center; width: 10rem;">

                        @if (User.IsInRole(UserRoles.Role_Admin))
                        {
                            <a type="button" class="btn btn-dark" style="width: 7rem;" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a type="button" class="btn btn-dark" style="width: 7rem;" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a type="button" class="btn btn-dark" style="width: 7rem;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                        }
                    </div>

                </div>

            }
        </div>

        <div class="col-md-auto">
            <div class="list-group" style="width: max-content; overflow-y: auto; max-height: 600px;">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    The current link item
                </a>
                @foreach (var item in Model)
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="list-group-item list-group-item-action">@Html.DisplayFor(modelItem => item.Name)</a>
                    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                }
            </div>

        </div>
        <div class="col col-lg-3" onclick="redirectToIndexPage()" style="cursor:pointer;">
            <img src="~/images/SideBanner.jpeg" style="width:300px;height:600px"></img>

        </div>
    </div>
</div>